---
import MainLayout from '../layouts/MainLayout.astro';

---
<MainLayout>
    <div id="body">
				<div id="figure">
					<img src="/images/headline-about.jpg" alt="Image">
					<span>We Have More Barista to Train</span>
				</div>
				<div>
					<a href="about.html" class="about">AboutUs </a>
					<div>
						<h3>History of the PokeCoffee</h3>
						<p>
							PokeCoffee, a beacon of innovation in the coffee world, was born in 2024 from the vision of Gintong Aral Skills Development Academy-Baguio Branch , a passionate entrepreneur who believed in the power of a perfect cup. Gintong Aral Skills Development Academy-Baguio Branch  wasn't content with simply serving coffee; he envisioned a space where baristas were elevated to the status of artisans, meticulously trained in the art of brewing. He established a rigorous training program, pushing boundaries and setting new standards for coffee preparation.
						</p>
						<h3>We Have More Trainees to Become a Barista</h3>
						<p>
							Visit our website or contact us to learn more about our barista training program and to apply at https://www.facebook.com/profile.php?id=100066581846848</a> to know about GASDA. But if you are in Baguio ask Mr. JM Mariano.
						</p>
						<h3>Be Part of Our Community</h3>
						<p>
							If you're experiencing issues and concerns about this website template, join the discussion on our forum</a> and meet other people in the community who share the same interests with you.
						</p>
					</div>
				</div>
			</div>
</MainLayout>