---
import MainLayout from '../layouts/MainLayout.astro';

---

<MainLayout>
    <div id="body">
				<div id="figure">
					<img src="/images/headline-contact.jpg" alt="Image">
				</div>
                <div>
					<a href="contact.html" class="contact">Locations</a>
               
                
                <form id="contact-form">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"><br><br>
                <label for="message">Message:</label>
                <textarea id="message" name="message"></textarea><br><br>
                <input type="submit" value="Send">
            </form>
             </div>
    </div>
</MainLayout>

<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

</style>