---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div id="body">
    <div id="figure">
      <img src="/images/headline-home.jpg" alt="Image" />
      <span id="home">Poke Coffee</span>
    </div>
    <div id="featured">
      <span class="whatshot"><a href="menu">Find out more</a></span>
      <div>
        <a href="menu"
          ><img src="/poke-coffee-website/images/coffee1.jpg" alt="Image" /></a
        >
        <a href="menu"
          ><img src="/poke-coffee-website/images/coffee2.jpg" alt="Image" /></a
        >
        <a href="menu"
          ><img src="/poke-coffee-website/images/coffee3.jpg" alt="Image" /></a
        >
      </div>
    </div>
    <div class="section">
      <ul>
        <li>
          <a href="/poke-coffee-website/blog"
            ><img
              src="/poke-coffee-website/images/coffee-ingredients.jpg"
              alt="Image"
            /></a
          >
          <h2><a href="//blog">Pure Coffee</a></h2>
          <p>
            Made from 100% high-quality coffee beans with no additives, fillers,
            or artificial flavors. This type of coffee preserves the authentic
            flavor and aroma of the coffee bean, providing a rich, unadulterated
            taste experience.
          </p>
          <a href="/poke-coffee-website/blog" class="readmore">Read More</a>
        </li>
        <li>
          <a href="/poke-coffee-website/blog"
            ><img
              src="/poke-coffee-website/images/black-coffee.jpg"
              alt="Image"
            /></a
          >
          <h2><a href="/poke-coffee-website/blog">Kopi Bins</a></h2>
          <p>
            Harvested from the coffee cherry. These beans undergo a process of
            roasting to develop their full flavor profile before being ground
            and brewed. Our beans includes Arabica and Robusta, each offering
            distinct taste.
          </p>
          <a href="/poke-coffee-website/blog" class="readmore">Read More</a>
        </li>
        <li>
          <a href="/poke-coffee-website/blog"
            ><img
              src="/poke-coffee-website/images/chocolate.jpg"
              alt="Image"
            /></a
          >
          <h2><a href="/poke-coffee-website/blog">Poke Sweets</a></h2>
          <p>
            Indulge in a moment of pure bliss with our handcrafted desserts,
            made fresh daily from the finest ingredients. From decadent
            chocolate cakes to light and airy mousses, our selection promises to
            satisfy every sweet tooth.
          </p>
          <a href="/poke-coffee-website/blog" class="readmore">Read More</a>
        </li>
      </ul>
      <div>
        <ul>
          <li>
            <h3><a href="/poke-coffee-website/blog">Poke Coffee</a></h3>
            <span>15 September 2024</span>
            <p>
              Enjoy 20% off your entire dessert order when you use code OSBERT24
              at checkout. Whether you're treating yourself or looking for the
              perfect ending to a meal, our desserts are sure to delight.
            </p>
            <a href="/poke-coffee-website/blog" class="readmore">Read more</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</MainLayout>

<style></style>
