---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div id="body">
    <div id="figure">
      <img
        src="/poke-coffee-website/images/headline-locations.jpg"
        alt="Image"
      />
    </div>
    <div>
      <a href="locations.html" class="locations">Locations</a>
      <div>
        <dl>
          <dt>Celadon City Branch</dt>
          <dd>Address: 123 Green Avenue</dd>
          <dd>Phone: (123) 456-7890</dd>
          <dd>Email: celadon@pokemancafe.com</dd>
        </dl>
        <dl>
          <dt>Hearthome City Branch</dt>
          <dd>Address: 456 Cozy Lane</dd>
          <dd>Phone: (234) 567-8901</dd>
          <dd>Email: hearthome@pokemancafe.com</dd>
        </dl>
        <dl>
          <dt>Mauville City Branch</dt>
          <dd>Address: 789 Energetic Boulevard</dd>
          <dd>Phone: (345) 678-9012</dd>
          <dd>Email: mauville@pokemancafe.com</dd>
        </dl>
        <dl>
          <dt>Lavaridge Town Branch</dt>
          <dd>Address: 321 Tranquil Road</dd>
          <dd>Phone: (456) 789-0123</dd>
          <dd>Email: lavaridge@pokemancafe.com</dd>
        </dl>
        <dl>
          <dt>Nimbasa City Branch</dt>
          <dd>Address: 654 Excitement Street</dd>
          <dd>Phone: (567) 890-1234 Email: nimbasa@pokemancafe.com</dd>
        </dl>
        <dl>
          <dt>Snowpoint City Branch</dt>
          <dd>Address: 987 Snowy Path</dd>
          <dd>Phone: (678) 901-2345</dd>
          <dd>Email: snowpoint@pokemancafe.com</dd>
        </dl>
        <dl>
          <dt>Castelia City Branch</dt>
          <dd>Address: 741 Adventure Avenue</dd>
          <dd>Phone: (789) 012-3456</dd>
          <dd>Email: castelia@pokemancafe.com</dd>
        </dl>
        <dl>
          <dt>Lumiose City Branch</dt>
          <dd>Address: 852 Elegance Street</dd>
          <dd>Phone: (890) 123-4567</dd>
          <dd>Email: lumiose@pokemancafe.com</dd>
        </dl>
        <dl>
          <dt>Saffron City</dt>
          <dd>Address: 963 Harmony Plaza</dd>
          <dd>Phone: (789) 012-3456</dd>
          <dd>Email: castelia@pokemancafe.com</dd>
        </dl>
        <dl>
          <dt>Anistar City</dt>
          <dd>Address: 357 Starry Way</dd>
          <dd>Phone: (012) 345-6789</dd>
          <dd>Email: anistar@pokemancafe.com</dd>
        </dl>
      </div>
    </div>
  </div>
</MainLayout>
