---
import MainLayout from '../layouts/MainLayout.astro';

---
<MainLayout>
    <div id="body">
				<div id="figure">
					<img src="images/headline-menu.jpg" alt="Image">
					<span>Lakas na di umaayaw</span>
				
				</div>
				<div>
					<a href="menu.html" class="whatshot">What&#39;s Hot</a>
					<div>
						<ul>
							<li>
								<a href="index.html"><img src="images/coffee1.jpg" alt="Image"></a>
								<div>
									<a href="index.html">Espressachu</a>
									<p>
										For Only $25.00
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="images/coffee2.jpg" alt="Image"></a>
								<div>
									<a href="index.html">Jolteon Brew</a>
									<p>
										For only $20.00
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="images/coffee3.jpg" alt="Image"></a>
								<div>
									<a href="index.html">Charizard Roast</a>
									<p>
										For only $25.00
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="images/coffee4.jpg" alt="Image"></a>
								<div>
									<a href="index.html">Bulbasaur Blend</a>
									<p>
										For only &#36;20.00
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="images/coffee5.jpg" alt="Image"></a>
								<div>
									<a href="index.html">Snorlax Sipper</a>
									<p>
										For only &#36;25.00
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="images/coffee6.jpg" alt="Image"></a>
								<div>
									<a href="index.html">Mewtwo Mocha</a>
									<p>
										For only &#36;20.00
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="images/coffee3.jpg" alt="Image"></a>
								<div>
									<a href="index.html">Psyduck latte</a>
									<p>
										For only &#36;25.00
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="images/coffee2.jpg" alt="Image"></a>
								<div>
									<a href="index.html">Dratini's drip</a>
									<p>
										For only &#36;20.00
									</p>
								</div>
							</li>
							<li>
								<a href="index.html"><img src="images/coffee1.jpg" alt="Image"></a>
								<div>
									<a href="index.html">Zubast's zest</a>
									<p>
										For only $20.00
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
</MainLayout>