<div id="footer">
				<div class="footer-logo">
					<a href="/poke-coffee-website/index"><img src="" alt="Image"></a>
					<p class="footnote">
						&copy; PokeCoffee 2024. <br>All Rights Reserved.
					</p>
				</div>
				<div class="section">
					<ul>
						<li>
							<a href="/poke-coffee-website/index">Home</a>
						</li>
						<li>
							<a href="/poke-coffee-website/menu">Menu</a>
						</li>
						<li>
							<a href="/poke-coffee-website/locations">Locations</a>
						</li>
						<li>
							<a href="/poke-coffee-website/blog">Blog</a>
						</li>
						<li>
							<a href="/poke-coffee-website/about">About Us</a>
						</li>
						<li>
							<a href="/poke-coffee-website/contact">Contact</a>
						</li>
					</ul>
					<div id="connect">
						<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
						<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
						<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google+</a>
						<a href="index" id="rss">RSS</a>
					</div>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
					</p>
				</div>
			</div>
<style>
#footer {
	background: #f5f1e6;
	height: 120px;
}
#footer div {
	background: none;
	margin: 20px 0 0 30px;
	width: 180px;
 	float: left;
}
#footer footer-logo{
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	height:100%;
}
#footer div a {
	display: inline-block;
}
#footer div img{
	content: url(../images/logo2.png);
	height:60%;
	aspect-ratio:1/1;
}
#footer div p.footnote {
	color: #c6a971;
	font-family: 'UltraRegular';
	font-size: 10px;
	letter-spacing: -0.025em;
	line-height: 12px;
	margin: 5px 0 0;
}
#footer div.section {
	background: none;
	margin: 0 0 0 30px;
	position: relative;
	width: 655px;
}
#footer div.section ul {
	list-style: none;
	margin: 30px 0 0;
	overflow: hidden;
	padding: 0;
}
#footer div.section ul li {
	border-left: 2px solid #e0ceaa;
	float: left;
	height: 15px;
	line-height: 13px;
	padding: 0 10px;
}
#footer div.section ul li a {
	color: #e0ceab;
	display: block;
	font-family: 'UltraRegular';
	letter-spacing: -0.025em;
	text-decoration: none;
	text-align: center;
}
#footer div.section ul li.current a {
	color: #becb73;
	border-bottom: 2px solid #e8e7cb;
}
#footer div.section ul li:first-child {
	border: 0;
	padding: 0 10px 0 0;
}
#footer div.section p {
	color: #c6a971;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 13px;
	margin: 20px 0 0;
}
#footer div.section p a {
	color: #c6a971;
}
#footer div.section p a:hover {
	color: #91a130;
}
#footer div.section div#connect {
	background: none;
	float: none;
	height: 18px;
	margin: 0;
	position: absolute;
	right: 0;
	top: 28px;
	width: auto;
}
#footer div.section div#connect a {
	display: inline-block;
	float: left;
	height: 18px;
	margin: 0 8px;
	text-indent: -99999px;
	width: 18px;
}
#footer div.section div#connect a#facebook {
	background: url(../images/icons.png) no-repeat 0 0;
}
#footer div.section div#connect a#facebook:hover {
	background: url(../images/icons.png) no-repeat -18px 0;
}
#footer div.section div#connect a#twitter {
	background: url(../images/icons.png) no-repeat 0 -28px;
}
#footer div.section div#connect a#twitter:hover {
	background: url(../images/icons.png) no-repeat -18px -28px;
}
#footer div.section div#connect a#googleplus {
	background: url(../images/icons.png) no-repeat 0 -56px;
}
#footer div.section div#connect a#googleplus:hover {
	background: url(../images/icons.png) no-repeat -18px -56px;
}
#footer div.section div#connect a#rss {
	background: url(../images/icons.png) no-repeat 0 -84px;
}
#footer div.section div#connect a#rss:hover {
	background: url(../images/icons.png) no-repeat -18px -84px;
}              
</style>
